newsletter-capture-automation.json
{
  "name": "Newsletter Capture Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -336,
        -32
      ],
      "id": "f8db1ac3-f7e7-42f2-b80f-051fdd242c8e",
      "name": "Get Message Body",
      "webhookId": "c7b4e588-0949-44dd-8cd6-8f1e9a2e64f7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIALS_ID",
          "name": "YOUR_OUTLOOK_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 6
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "YOUR_OUTLOOK_FOLDER_ID"
          ],
          "readStatus": "unread",
          "sender": "YOUR_NEWSLETTER_SENDER_EMAIL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -32
      ],
      "id": "bd32a0d9-20a2-4e26-83d8-1cdd55cf505e",
      "name": "Newsletter Received",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIALS_ID",
          "name": "YOUR_OUTLOOK_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Newsletter Received').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        224,
        -32
      ],
      "id": "805d3478-dc47-4336-9307-a1d90d216937",
      "name": "Mark Message as Read",
      "webhookId": "9a69b25f-3c68-4d77-b487-0f7c7462681b",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIALS_ID",
          "name": "YOUR_OUTLOOK_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "title": "={{ $('Newsletter Received').item.json.subject }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        -32
      ],
      "id": "f72978c6-918e-4bc8-935a-db7ab7d49f7e",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "YOUR_GOOGLE_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Get Message Body').item.json.body.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        32,
        -32
      ],
      "id": "820fab8c-997b-4d02-8dd0-24ef4d7bac6b",
      "name": "Add Body to Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "YOUR_GOOGLE_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "sender": "YOUR_NEWSLETTER_SENDER_EMAIL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -400
      ],
      "id": "88b9a612-ed0b-46a6-836b-b907fe9d91cb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS_ID",
          "name": "YOUR_GMAIL_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "title": "={{ $json.subject }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -304,
        -400
      ],
      "id": "0f08e463-1fdc-48d1-a0bc-0baf24c824aa",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "YOUR_GOOGLE_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Gmail Trigger').item.json.textAsHtml }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -112,
        -400
      ],
      "id": "adb2e2bd-aec9-48b3-afee-d2227a69c61c",
      "name": "Add Body to Document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "YOUR_GOOGLE_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        -400
      ],
      "id": "31cb351f-334b-4ffb-9694-7992defbd1d2",
      "name": "Mark a message as read",
      "webhookId": "d580b3d6-e1ba-4ea2-8d95-529afebd5d38",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS_ID",
          "name": "YOUR_GMAIL_EMAIL"
        }
      }
    },
    {
      "parameters": {
        "content": "# Newsletter Capture Automation",
        "height": 112,
        "width": 544,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -752
      ],
      "typeVersion": 1,
      "id": "af1fedd9-994c-4c0a-bf03-a688a772a0bc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Gmail Version",
        "height": 80,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -560
      ],
      "typeVersion": 1,
      "id": "e1c62cbc-638d-4975-8eba-cc50687690c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Outlook Version",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -176
      ],
      "typeVersion": 1,
      "id": "afd0f0e1-ad81-4fd0-9f0b-da1c933a18d0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Setup Guide:\n\nYou can use these simultaneously if you use both Gmail and Outlook, otherwise, delete the nodes from the version that you will not be using.\n\n1. Plug in your credentials for the mail credentials, whether Gmail or Outlook.\n\n2. Add in your Google credentials for the Google Doc nodes.\n\n3. (Optional) Add your webhook ID for the Discord nodes - this is for notifications so you know right when a new document is created. You can also delete these nodes if you don't want Discord notifications.\n\n4. Configure the sender email address in the trigger nodes to match your newsletter sender.\n\n5. Set your Google Drive folder ID where you want the documents to be created.\n\n6. When the Google Docs are created, add them as a source in Notebook LM and use it to create audio overviews, so you can listen to your newsletters.",
        "height": 496,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -400
      ],
      "typeVersion": 1,
      "id": "467a4e9a-3edd-471f-aa6f-b4b7bba018c9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Your newsletter folder has been updated from the following email:\n\n{{ $('Create a document1').item.json.name }}\n\nMake sure to update your NotebookLM!\n\n[YOUR_NOTEBOOKLM_LINK]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        304,
        -400
      ],
      "id": "7a8d918a-c430-458b-8ee0-6a13d82e0f65",
      "name": "Send notification 1",
      "webhookId": "7ddb2ee9-6f8f-488d-9fdf-57ace36fc218",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_DISCORD_WEBHOOK_ID",
          "name": "YOUR_DISCORD_WEBHOOK_NAME"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Your newsletter has been updated from the email:\n\n{{ $json.subject }}\n\nMake sure to update NotebookLM!\n[YOUR_NOTEBOOKLM_LINK]\n\nHave a great day :)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "4297cb52-2697-4db6-9179-2468271f9de4",
      "name": "Send notification",
      "webhookId": "7e8fd67d-89db-48b7-8594-97c935538a10",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_DISCORD_WEBHOOK_ID",
          "name": "YOUR_DISCORD_WEBHOOK_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Message Body": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Received": {
      "main": [
        [
          {
            "node": "Get Message Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message as Read": {
      "main": [
        [
          {
            "node": "Send notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Add Body to Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Body to Document": {
      "main": [
        [
          {
            "node": "Mark Message as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Add Body to Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Body to Document1": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Send notification 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 30
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
