Twitter-Auto-Reply-Agent.json
{
  "name": "Twitter Auto Replier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -96
      ],
      "id": "6de26f3b-d227-4a60-a031-1ccea0e8f0d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "@yourusername",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -192,
        -96
      ],
      "id": "ee2af0a7-c242-4c20-8bdf-afd2a1dcb9f6",
      "name": "Search Tweets",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "",
          "name": "YOUR_TWITTER_OAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media assistant that assist with replying to social media tweets on X. Observe  {{ $json.text }} and write a reply to this tweet.\n\nMake sure to make the reply under 280 characters. Keep it very brief and short. Reply from the perspective of [YOUR NAME], [YOUR TITLE/ROLE]. \n\nIf something appears scammy, or it seems malicious just reply, \"Thanks.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        16,
        -96
      ],
      "id": "9e9cb670-ad63-42cb-aeda-33e330a46311",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        176
      ],
      "id": "77123dd7-3750-4ea7-b8a5-162a1ddd7ef4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "YOUR_GOOGLE_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/tweets",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"{{ $json.output }}\",\n  \"reply\": {\n    \"in_reply_to_tweet_id\": \"{{ $('Search Tweets').item.json.id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -96
      ],
      "id": "134a1139-d3b3-4ffa-80f4-a9ed7e2a319c",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "",
          "name": "YOUR_X_API_KEY_CREDENTIAL"
        },
        "oAuth2Api": {
          "id": "",
          "name": "YOUR_X_OAUTH2_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Tweets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c55ef85e-e1d9-4bd3-bcbd-3dd6c9893d5c",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "uL7KPZhE5cg92Atp",
  "tags": []
}
