X Post Generator.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup Instructions \n\nThis is what you will need to get started:\n\n1. Set your Gemini API key in the chat model node, or replace it with another of your liking and authenticate with it.\n\n2. Get your client ID and client secret from your X developer dashboard:\n\nhttps://developer.x.com/en/portal/dashboard\n\nGo to \"Project and Apps,\" then select your app, then under \"Authentication,\" select \"Setup.\"\n\n3. Create a channel in Discord and then in the channel settings, go to \"Integrations\", \"Webhooks\", then \"New Webhook.\" Copy the URL and paste it in the Discord node.\n\n4. Authenticate with your Google account for sheets. The authentication settings should update on their own to yours by double clicking the node",
        "height": 528,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1296,
        -256
      ],
      "typeVersion": 1,
      "id": "9120f0cb-1b54-41a5-be5b-95bc302c373e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -384,
        96
      ],
      "id": "c48c89a2-a363-442e-bd48-ebae48f0aecb",
      "name": "Check History"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tweet": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Tweet"
          ],
          "schema": [
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        -128
      ],
      "id": "9156e87a-b16a-4832-a147-4d06f1184838",
      "name": "Update Post History"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a social media manager for <YOUR_COMPANY_NAME>, a software company that provides:\n\nWeb Development services (scalable, modern websites, with optional AI integration)\n\nAI Automation workflows & AI agents (helping businesses save time, cut costs, and increase productivity)\n\nAn attached Google Sheets tool provides a list of past posts and topics already used.\n\nBefore generating a new post, check the sheet and ensure your response does not repeat or closely copy any rows that already exist.\n\nTreat the sheet as a memory of what has been published.\n\nYour Task\n\nGenerate engaging X (Twitter) posts that highlight topics related to:\n\n<YOUR_COMPANY_NAME>’s services\n\nAI, AI agents, and AI automation\n\nProductivity, efficiency, and problem-solving in business\n\nPosting Guidelines\n\nTone & Voice:\n\nConversational, professional, approachable\n\nGenuinely curious and thoughtful — not pushy or salesy\n\nAvoid hype, buzzwords, exaggerated claims\n\nStyle (Problem-Centric & Hypothesis-Driven):\n\nLead with a problem or challenge that businesses often face (web dev, AI adoption, productivity, etc.)\n\nUse curious framing: show genuine interest in the reader’s perspective\n\nHypothesis-driven: frame insights as if testing an assumption (e.g., “We often see teams struggle with X — is that something you’ve run into?”)\n\nFormat & Constraints:\n\n≤ 280 characters, max 3 sentences\n\nPlain language (not overly technical unless targeting devs)\n\nAvoid hashtags unless highly relevant\n\nEmojis optional and sparing\n\nOutput\n\nGenerate 1 new post idea per request\n\nReference the sheet to avoid repeating past content\n\nPosts should connect business problems → potential solutions → how <YOUR_COMPANY_NAME> or AI could help\n\nInvite engagement: spark curiosity or ask a direct question\n\nKeep language tight for quick readability",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -480,
        -128
      ],
      "id": "a4fddd76-c118-459a-bde1-c4b90a39158d",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Automated X Post Generator with an AI Agent\n",
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -432
      ],
      "typeVersion": 1,
      "id": "d5b8a1c8-7f0c-42d2-86e1-c960f029809d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Logging Data\nAdd the success or error of the workflow in the workflow logs.",
        "height": 304,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -256
      ],
      "typeVersion": 1,
      "id": "0571bc2d-97c3-46ac-8616-76ad8c88e250",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post to X \nOnce the text is generated, it's posted to X automatically",
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -256
      ],
      "typeVersion": 1,
      "id": "9e42a395-ee52-4e94-8e1d-f3806d13879e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Generate Post\nThe LLM Chain generates a post and parses the text in preparation for posting to X",
        "height": 544,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -256
      ],
      "typeVersion": 1,
      "id": "f0bf02a6-e1df-406b-8483-9a97ded94f87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Run On Schedule \nThis is triggered three times a day",
        "height": 304,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -256
      ],
      "typeVersion": 1,
      "id": "0c5aa86d-3752-4083-bfbd-3b392df667aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Your daily X post for <YOUR_COMPANY_NAME>\n\n{{ $('AI Agent').item.json.output.text }}\n\nThe following will be posted to X:\n\n{{ $('AI Agent').item.json.output.post }}",
        "options": {
          "wait": true
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        448,
        -128
      ],
      "id": "0e7198c9-2bc1-4c99-acf3-70c056a07c15",
      "name": "Send Post Notification",
      "webhookId": "<DISCORD_WEBHOOK_ID_2>"
    },
    {
      "parameters": {
        "text": "={{ $json.output.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -48,
        -128
      ],
      "id": "f9a64813-7bb4-4eab-a7ee-581b63929491",
      "name": "Post to X"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        144
      ],
      "id": "f2c81fee-af74-4315-b3c0-5d76ae0a6ef4",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\"\n    },\n    \"post\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"text\", \"post\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -272,
        128
      ],
      "id": "7d672c71-ba38-44a8-8961-7011577f1f63",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -128
      ],
      "id": "7c4c9872-be53-4c4d-85d7-b6990d4d0635",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Check History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Post History": {
      "main": [
        [
          {
            "node": "Send Post Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Update Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c73c851-8126-4799-b937-c9cd0b340a9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d1532068cd59d0a505656debc1e996beb28cc747b2113028384dc732cb70630"
  },
  "id": "nzuiYxJYXaCX2ryP",
  "tags": []
}