X Post Generator.json
{
  "name": "X Post Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        -304
      ],
      "id": "<NODE_ID_1>",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\"\n    },\n    \"post\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"text\", \"post\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        -64
      ],
      "id": "<NODE_ID_2>",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        -48
      ],
      "id": "<NODE_ID_3>",
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "<YOUR_GOOGLE_API_ID>",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -256,
        -320
      ],
      "id": "<NODE_ID_4>",
      "name": "Post to X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "<YOUR_TWITTER_API_ID>",
          "name": "<YOUR_TWITTER_ACCOUNT_NAME>"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_LOG_ID>",
          "mode": "list",
          "cachedResultName": "Workflow Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_LOG_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_LOG_ID>/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp:": "={{ $now.format('yyyy-MM-dd hh:m a') }}",
            "Workflow:": "={{ $workflow.name }}",
            "Output:": "=Error Execution:{{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp:",
              "displayName": "Timestamp:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow:",
              "displayName": "Workflow:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output:",
              "displayName": "Output:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        -160
      ],
      "id": "<NODE_ID_5>",
      "name": "Add Error to Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_API_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Error: {{ $workflow.name }} did not run. Please observe the logs. \n\nhttps://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_LOG_ID>/edit?gid=0#gid=0",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        224,
        -160
      ],
      "id": "<NODE_ID_6>",
      "name": "Send Error Alert",
      "webhookId": "<DISCORD_WEBHOOK_ID_1>",
      "credentials": {
        "discordWebhookApi": {
          "id": "<YOUR_DISCORD_WEBHOOK_API_ID_1>",
          "name": "<YOUR_DISCORD_WEBHOOK_NAME_1>"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Your daily X post for <YOUR_COMPANY_NAME>\n\n{{ $('AI Agent').item.json.output.text }}\n\nThe following will be posted to X:\n\n{{ $('AI Agent').item.json.output.post }}",
        "options": {
          "wait": true
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        224,
        -320
      ],
      "id": "<NODE_ID_7>",
      "name": "Send Post Notification",
      "webhookId": "<DISCORD_WEBHOOK_ID_2>",
      "credentials": {
        "discordWebhookApi": {
          "id": "<YOUR_DISCORD_WEBHOOK_API_ID_2>",
          "name": "<YOUR_DISCORD_WEBHOOK_NAME_2>"
        }
      }
    },
    {
      "parameters": {
        "content": "## Run On Schedule \nThis is triggered three times a day",
        "height": 304,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -432
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_8>",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate Post\nThe LLM Chain generates a post and parses the text in preparation for posting to X",
        "height": 544,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -432
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_9>",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post to X \nOnce the text is generated, it's posted to X automatically",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -432
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_10>",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Logging Data\nAdd the success or error of the workflow in the workflow logs.",
        "height": 496,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -432
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_11>",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Automated X Post Generator with an AI Agent\n",
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -608
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_12>",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a social media manager for <YOUR_COMPANY_NAME>, a software company that provides:\n\nWeb Development services (scalable, modern websites, with optional AI integration)\n\nAI Automation workflows & AI agents (helping businesses save time, cut costs, and increase productivity)\n\nAn attached Google Sheets tool provides a list of past posts and topics already used.\n\nBefore generating a new post, check the sheet and ensure your response does not repeat or closely copy any rows that already exist.\n\nTreat the sheet as a memory of what has been published.\n\nYour Task\n\nGenerate engaging X (Twitter) posts that highlight topics related to:\n\n<YOUR_COMPANY_NAME>’s services\n\nAI, AI agents, and AI automation\n\nProductivity, efficiency, and problem-solving in business\n\nPosting Guidelines\n\nTone & Voice:\n\nConversational, professional, approachable\n\nGenuinely curious and thoughtful — not pushy or salesy\n\nAvoid hype, buzzwords, exaggerated claims\n\nStyle (Problem-Centric & Hypothesis-Driven):\n\nLead with a problem or challenge that businesses often face (web dev, AI adoption, productivity, etc.)\n\nUse curious framing: show genuine interest in the reader’s perspective\n\nHypothesis-driven: frame insights as if testing an assumption (e.g., “We often see teams struggle with X — is that something you’ve run into?”)\n\nFormat & Constraints:\n\n≤ 280 characters, max 3 sentences\n\nPlain language (not overly technical unless targeting devs)\n\nAvoid hashtags unless highly relevant\n\nEmojis optional and sparing\n\nOutput\n\nGenerate 1 new post idea per request\n\nReference the sheet to avoid repeating past content\n\nPosts should connect business problems → potential solutions → how <YOUR_COMPANY_NAME> or AI could help\n\nInvite engagement: spark curiosity or ask a direct question\n\nKeep language tight for quick readability",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -688,
        -304
      ],
      "id": "<NODE_ID_13>",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tweet": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Tweet"
          ],
          "schema": [
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        -320
      ],
      "id": "<NODE_ID_14>",
      "name": "Update Post History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_API_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -592,
        -96
      ],
      "id": "<NODE_ID_15>",
      "name": "Check History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_API_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup Instructions \n\nThis is what you will need to get started:\n\n1. Set your Gemini API key in the chat model node, or replace it with another of your liking and authenticate with it.\n\n2. Get your client ID and client secret from your X developer dashboard:\n\nhttps://developer.x.com/en/portal/dashboard\n\nGo to \"Project and Apps,\" then select your app, then under \"Authentication,\" select \"Setup.\"\n\n3. Create a channel in Discord and then in the channel settings, go to \"Integrations\", \"Webhooks\", then \"New Webhook.\" Copy the URL and paste it in the Discord node.\n\n4. Authenticate with your Google account for sheets. The authentication settings should update on their own to yours by double clicking the node",
        "height": 528,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -432
      ],
      "typeVersion": 1,
      "id": "<NODE_ID_16>",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Update Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error to Logs": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Post Notification": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Error to Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post History": {
      "main": [
        [
          {
            "node": "Send Post Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "<YOUR_TIMEZONE>",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "<VERSION_ID>",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<INSTANCE_ID>"
  },
  "id": "<WORKFLOW_ID>",
  "tags": []
}