X Post Generator.json
{
  "name": "X Post Automation Demo",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup Instructions \n\nThis is what you will need to get started:\n\n1. Set your Gemini API key in the chat model node, or replace it with another of your liking and authenticate with it.\n\n2. Get your client ID and client secret from your X developer dashboard:\n\nhttps://developer.x.com/en/portal/dashboard\n\nGo to \"Project and Apps,\" then select your app, then under \"Authentication,\" select \"Setup.\"\n\n3. Create a channel in Discord and then in the channel settings, go to \"Integrations\", \"Webhooks\", then \"New Webhook.\" Copy the URL and paste it in the Discord node.\n\n4. Authenticate with your Google account for sheets. The authentication settings should update on their own to yours by double clicking the node",
        "height": 528,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        240
      ],
      "typeVersion": 1,
      "id": "a639d32a-d8d4-4956-a2ce-576c8a5fb207",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -112,
        608
      ],
      "id": "f3ed021a-a3cf-4203-a9cd-afb86feba23f",
      "name": "Check History"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<GOOGLE_SHEET_HISTORY_ID>",
          "mode": "list",
          "cachedResultName": "Posts History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<GOOGLE_SHEET_HISTORY_ID>/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tweet": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Tweet"
          ],
          "schema": [
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        464,
        368
      ],
      "id": "ba408671-fb1c-4d49-b8af-5d06f33b009c",
      "name": "Update Post History"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "<YOUR_POMPT_HERE>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -256,
        368
      ],
      "id": "5476864f-9001-40e7-a635-bf658cd583df",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Automated X Post Generator with an AI Agent\n",
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        64
      ],
      "typeVersion": 1,
      "id": "df23dae9-0ff7-40ed-a287-91383934001a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Logging Data\nAdd the success or error of the workflow in the workflow logs.",
        "height": 304,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "id": "73136250-5d93-459d-b267-d56eda81d1a3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post to X \nOnce the text is generated, it's posted to X automatically",
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        240
      ],
      "typeVersion": 1,
      "id": "14947cac-bdfc-4e41-959e-7073e9f5645e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Generate Post\nThe LLM Chain generates a post and parses the text in preparation for posting to X",
        "height": 544,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        240
      ],
      "typeVersion": 1,
      "id": "eafaf042-3ee7-4c04-961e-d98d3796af37",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Run On Schedule \nThis is triggered three times a day",
        "height": 304,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        240
      ],
      "typeVersion": 1,
      "id": "e02323c7-71a8-496f-b76b-37e5ebcc7b43",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Your daily X post for <YOUR_COMPANY_NAME>\n\n{{ $('AI Agent').item.json.output.text }}\n\nThe following will be posted to X:\n\n{{ $('AI Agent').item.json.output.post }}",
        "options": {
          "wait": true
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        672,
        368
      ],
      "id": "c1237163-8702-4be9-9ec2-cdb9b40d4b57",
      "name": "Send Post Notification",
      "webhookId": "<DISCORD_WEBHOOK_ID_2>"
    },
    {
      "parameters": {
        "text": "={{ $json.output.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        176,
        368
      ],
      "id": "81980477-fe9a-44ff-a1e2-da01dc392a6f",
      "name": "Post to X"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        608
      ],
      "id": "4b1ce150-03b1-4fb6-a098-c535296b085a",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        368
      ],
      "id": "7d10e3f9-177c-4e0e-9c1e-b2dc5ed6f0d8",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Check History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post History": {
      "main": [
        [
          {
            "node": "Send Post Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Update Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24a32a2b-20a5-4627-8f23-808cf14ab120",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d1532068cd59d0a505656debc1e996beb28cc747b2113028384dc732cb70630"
  },
  "id": "nzuiYxJYXaCX2ryP",
  "tags": []
}
