Threads Automation/Threads Credentials Setup.json
{
  "name": "Threads Credentials Setup",
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.threads.net/access_token?grant_type=th_exchange_token&client_secret={{ $json.client_secret }}&access_token={{ $json.access_token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        416
      ],
      "id": "c8385826-1242-4c12-992b-08206e6620fb",
      "name": "Exchange Token"
    },
    {
      "parameters": {
        "formTitle": "Threads Credentials",
        "formDescription": "Form used to obtained threads credentials, to add them into n8n for automating Threads posting.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "access_token"
            },
            {
              "fieldLabel": "client_secret"
            },
            {
              "fieldLabel": "account_id"
            },
            {
              "fieldLabel": "threads_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -176,
        416
      ],
      "id": "c9c4d8b0-9e3c-4a56-b0f0-1b444ca6543a",
      "name": "On form submission",
      "webhookId": "YOUR_FORM_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "content": "## Threads Credentials Setup \nUsing the information from Meta Business Suite, you fill in the form with your information, then get your credentials which are then entered in the Threads Automation workflow.",
        "height": 416,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        208
      ],
      "id": "d90aa163-6569-4748-8182-66af24844eb1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Threads Access Token:\n\n{{ $json.access_token }}\n\nKeep this safe, do not share it",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        224,
        416
      ],
      "id": "5f1bd61e-b6f8-4eb4-9bad-29b3f40d2e1e",
      "name": "Discord",
      "webhookId": "YOUR_DISCORD_WEBHOOK_ID_HERE",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Exchange Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Token": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": [
    {
      "updatedAt": "2025-12-26T21:03:25.498Z",
      "createdAt": "2025-12-26T21:03:25.498Z",
      "id": "HOixaDiNSIkixV0i",
      "name": "AI Media Club"
    }
  ]
}