AI Voice Assistant/contacts-agent.json
{
  "name": "RD Contacts Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        736
      ],
      "id": "a0abd926-4812-4b94-a6ba-16cfa468c7a1",
      "name": "Gemini 2.5 Flash2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "Contacts DataTable",
          "cachedResultUrl": ""
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        240,
        736
      ],
      "id": "095d7a43-3e94-41ee-8058-06a8f15954f7",
      "name": "Get Contacts"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "Contacts DataTable",
          "cachedResultUrl": ""
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "keyValue": "={{ $fromAI('Name') }}"
            },
            {
              "keyName": "emailAddress",
              "keyValue": "={{ $fromAI('emailAddress') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        400,
        736
      ],
      "id": "7ca7e78c-fff0-4fd1-a50d-2b13629a1d53",
      "name": "Delete Contact"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "Contacts DataTable",
          "cachedResultUrl": ""
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "keyValue": "={{ $fromAI('Name') }}"
            },
            {
              "keyName": "emailAddress",
              "keyValue": "={{ $fromAI('emailAddress') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        240,
        880
      ],
      "id": "f52e10bf-be68-417e-89f6-b99a4e0a6546",
      "name": "Update Contact"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "Contacts DataTable",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "{{ $fromAI('Name') }}",
            "emailAddress": "{{ $fromAI('emailAddress') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        400,
        880
      ],
      "id": "7152fc21-cf56-4e5a-8ee6-8ea7e4c0b4b8",
      "name": "Create Contact"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        448
      ],
      "id": "f34a3feb-2eca-4fe3-9fae-4625ccf7aa90",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        448
      ],
      "id": "4366ec86-bc69-4628-8f4f-e21698d18a70",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922d0289-9c9a-49dc-a457-2ccda3132fc2",
              "name": "success",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        272
      ],
      "id": "8b9b80ca-38f6-4abd-8558-85576d308555",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127ab439-955a-4279-8e7e-240775ee7865",
              "name": "Error",
              "value": "Could not complete tasks, please try again",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        464
      ],
      "id": "1f07e4c7-e2f6-4552-b64a-d4977fcd0497",
      "name": "Error"
    },
    {
      "parameters": {
        "content": "## Output\nSuccess node sends the output, the error node sends the manually entered error message if the agent cannot complete the task.",
        "height": 448,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        176
      ],
      "typeVersion": 1,
      "id": "08097684-afb9-4e4c-917d-865273ed0eab",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sub-agent\nThe sub-agent takes the query from the parent agent, then uses its tools to complete the task that it has been given, and replies with the output.",
        "height": 288,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        336
      ],
      "typeVersion": 1,
      "id": "34d87f9f-6b9d-4e4b-88d5-e286028b1d8b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Tools\nGemini 2.5 Flash is set as the LLM model. Whenever the parent requests the contact agent for contact information, it will use these tools to retrieve, edit, or remove contacts from the n8n data sets.",
        "height": 464,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        656
      ],
      "typeVersion": 1,
      "id": "c627813f-54f1-4c3d-aa47-6b7532459078",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Contact Agent",
        "height": 80,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        176
      ],
      "typeVersion": 1,
      "id": "5d1d1b13-a51b-42db-9a62-242329b4bad8",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gemini 2.5 Flash2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d1532068cd59d0a505656debc1e996beb28cc747b2113028384dc732cb70630"
  },
  "tags": []
}