Multi-Agent AI Assistant/calendar-agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "content": "# Calendar Agent\n",
        "height": 80,
        "width": 704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        192
      ],
      "typeVersion": 1,
      "id": "b541f724-b8cf-4863-9eeb-fe68f38dc212",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        432
      ],
      "id": "0316603c-5a18-4fb5-b55e-db2c2a4868c3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools** \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -304,
        432
      ],
      "id": "fb811436-d456-4414-8b86-d96839b050bf",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "REPLACE_EMAIL_ADDRESS",
          "mode": "list"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}",
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -288,
        768
      ],
      "id": "c39771cd-bcbc-41d5-814e-642e76732083",
      "name": "Update Event"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "REPLACE_EMAIL_ADDRESS",
          "mode": "list"
        },
        "start": "={{ $fromAI('startTime') }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -176,
        768
      ],
      "id": "cc18b7d2-cb8f-4623-93da-d80f1e43cd10",
      "name": "Create Event"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "REPLACE_EMAIL_ADDRESS",
          "mode": "list"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -64,
        768
      ],
      "id": "e6a1fe2b-030f-4fb3-94ff-99384ea950ca",
      "name": "Delete Event"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "REPLACE_EMAIL_ADDRESS",
          "mode": "list"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        48,
        768
      ],
      "id": "27a9a07a-77c2-48df-a80e-ad3b61402f9f",
      "name": "Get Event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-assignment-id",
              "name": "response",
              "value": "Unable to complete calendar task, please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        448
      ],
      "id": "60ccfdbf-5963-463f-bd4a-4123d85b6203",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-assignment-id",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        304
      ],
      "id": "53437a4f-9a19-4f01-a908-0541be8d3e34",
      "name": "Success"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        768
      ],
      "id": "8480175e-def1-49bb-9ea9-fd7568ffd59b",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "content": "## Sub-agent \nThe sub-agent takes the query from the parent agent, then uses its tools to complete the task that it has been given, and replies with it's output.",
        "height": 272,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        320
      ],
      "id": "0cd05664-b933-44d4-ab46-60e924a9dde9",
      "name": "Sticky Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Output \nSuccess node sends the output, the error node sends the manually entered error message is the agent cannot complete the task.",
        "height": 400,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        192
      ],
      "id": "220ff252-1a8b-445c-95b1-5b79e788cddb",
      "name": "Sticky Note1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Tools \nGemini 2.5 Pro has been set for the LLM. Once the agent receives its calendar related query, it calls upon the specific tool in order to complete its task.",
        "height": 416,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        624
      ],
      "id": "d309b6b2-dcd2-4a35-8aab-7cd332f232ae",
      "name": "Sticky Note2",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup Guide \n1. Add your preferred LLM Model or enter your credentials in the Gemini node for your Gemini API Key\n\n2. Select your Google credentials for each Google Calendar node. Ensure you have the Google Calendar API enabled on your Google Cloud Console.\n\n3. Select your email address where it says \"REPLACE EMAIL ADDRESS\" for each node.",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        624
      ],
      "typeVersion": 1,
      "id": "7ac4a7ae-89d1-4225-9f6c-f21a8037f5a1",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cb0d3d1-bd42-4865-acdf-f0edb7630b1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d1532068cd59d0a505656debc1e996beb28cc747b2113028384dc732cb70630"
  },
  "id": "RbvjuO8brYIXoVBq",
  "tags": []
}