Multi-Agent AI Assistant/parent-agent.json
{
  "name": "Parent Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        240
      ],
      "id": "2df357d3-5414-4b2c-8ae1-370429ad8b31",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEB_HOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the primary orchestration agent. Your job is to interpret the user’s intent and route the request to the correct sub-agent tool.\n\nYou do NOT perform the task yourself.\nYou do NOT write emails, summaries, notes, or content.\nYou ONLY decide which tool(s) to call and pass the correct context.\n\nMaintain a friendly, professional, concise tone.\nLight humor is acceptable, but execution always comes first.\n\n## Available Tools\n\n- calendarAgent  \n  Use this tool to take action in calendar (create, update, delete, or retrieve events).\n\n- notionAgent  \n  Use this tool for ALL Notion-related actions, including:\n  - Retrieving databases or pages\n  - Getting items from a database\n  - Reading dates, titles, or properties\n  - Creating new pages or items in a database\n\n## Routing Rules\n\n- If the request involves **calendar events or availability**, route to `calendarAgent`\n- If the request involves **Notion databases, pages, tasks, records, or dates**, route to `notionAgent`\n\n## Notion-Specific Rules\n\n- You NEVER interact with Notion directly.\n- You NEVER reason about database structure.\n- You ALWAYS forward Notion intent to the `notionAgent`.\n\nExamples of Notion requests that MUST be routed:\n- “What’s in my Notion task database?”\n- “Show me upcoming items and their dates”\n- “Add a new item to my Notion database”\n- “Create a task for tomorrow in Notion”\n\n## Multi-Step Actions\n\nSome requests require multiple agents. Execute them in order.\n\nYou MUST retrieve contact information first for:\n- Sending or drafting emails\n- Creating calendar events with attendees\n\nExample:\n1. Use `calendarAgent` to retrieve events\n2. Pass the event to `calendarAgent`\n\n## Calendar Rules\n\n- When asked to schedule, reschedule, update, or check availability, ALWAYS call `calendarAgent`\n- Do not ask for an event title unless specified\n- If no title is provided, generate one from {{ $json.message.text }} or {{ $json.text }}\n- If an event includes another person, do not ask for their email unless required\n- If no duration is specified, assume 1 hour\n- Resolve relative dates using {{ $now }} and {{ $today }}\n- NEVER ask for the year — infer it from {{ $now }}\n\n## Behavior Constraints\n\n- Do not ask clarifying questions unless absolutely required to route correctly\n- Do not perform the task yourself\n- Do not hallucinate tool results\n- If no tool action is required, respond briefly and politely\n\n## Final Notes\n\nYou are the router, not the worker.\nWhen in doubt, delegate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        240
      ],
      "id": "3d617f7f-2044-4d76-bbc8-2d92e5a82a65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        656
      ],
      "id": "ffde2163-e013-4081-a1cf-8f49bd5b2b09",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool for all Notion related tasks",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WORKFLOW_ID",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        656
      ],
      "id": "b1f02bcb-8462-4dd7-91c4-d8bcaf368823",
      "name": "Notion Agent"
    },
    {
      "parameters": {
        "description": "Call this tool for any calendar related actions.",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WORKFLOW_ID",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        432,
        656
      ],
      "id": "1ef1e8b6-3021-4c89-b494-38a41f520e37",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        656
      ],
      "id": "a879ad6c-a981-43fe-a0c3-4fc284f8eb53",
      "name": "Gemini 2.5 Pro"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        240
      ],
      "id": "49e8b361-c1e6-43ad-8e51-fdca79108380",
      "name": "AI Reply",
      "webhookId": "35e88eb6-5b17-4b09-b9b5-de33778946af"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## LLM Model and Memory\nGemini 2.5 is selected for the model, a simple memory is set so that the AI agent remembers the past 5 chat messages to have a cohesive conversation",
        "height": 400,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        560
      ],
      "id": "c786e5d3-8e68-46f3-a18c-5fb622a4c3b5",
      "name": "Sticky Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Agent and Telegram Bot\nThe flow is triggered when a Telegram message is sent. The text is sent to the AI agent to analyze and choose which tool it needs to call upon in order to complete the request.",
        "height": 304,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        128
      ],
      "id": "8070d7b0-1b34-4ac3-b4d3-75df3bc84b90",
      "name": "Sticky Note1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Assistant | Parent Agent",
        "height": 80,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "id": "fcc9a93e-8316-49c0-aafd-2091f12d1b9f",
      "name": "Sticky Note2",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Sub-Workflow Agents\nThere are two agents here. Each is called depending on what task is requested. The Notion agent and the calendar agent. ",
        "height": 400,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        560
      ],
      "id": "ce381edd-27c2-4836-af86-409895fdc1d5",
      "name": "Sticky Note3",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Notion Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "5d1532068cd59d0a505656debc1e996beb28cc747b2113028384dc732cb70630"
  },
  "tags": []
}